@model IEnumerable<core.Model.Visitor>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Visitor List</h2>
        </div>
        <div class="col-6">
            <a asp-controller="Visitor" asp-action="Crup" class="btn btn-primary">
                <span>Visitor Add</span>
            </a>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered table-striped my-2">
            <thead>
                <tr>
                    <th>Identification Number</th>
                    <th>Name</th>
                    <th>Last Name</th>
                    <th>Phone</th>
                    <th>Prisoner Id</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var visitor in Model)
                {
                    <tr>
                       
                        <td>@visitor.idendificationNum</td>
                        <td>@visitor.VisitorName</td>
                        <td>@visitor.VisitorLastname</td>
                        <td>@visitor.Phone</td>
                        <td>@visitor.PrisonerId</td>
                        <td>
                            <a asp-controller="Visitor" asp-action="Crup" asp-route-id="@visitor.VisitorId" class="btn btn-primary">
                                Edit
                            </a>
                            <a asp-controller="Visitor" asp-action="Delete" asp-route-id="@visitor.VisitorId" class="btn btn-danger">
                                Delete
                            </a>

                        </td>
                    </tr>
                }
            </tbody>




        </table>
    </div>

</div>